body {
  margin: 0;
  padding: 0;
}

.full-width {
  width: auto !important;
  max-width: none;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.item-icon {
  max-height: 160px !important;
}

.ui.items:not(.unstackable)>.item>.image.tiny, .ui.items:not(.unstackable)>.item>.image.tiny>img {
  max-width: 100px !important;
}

.ui.container {
  -ms-overflow-style: none;
  overflow-x: scroll;
}

.ui.container::-webkit-scrollbar {
  display: none;
}
